.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  background-color: #fff;
}

/* 메인 콘텐츠 영역 (푸터 높이 고려) */
.main-content {
  flex: 1;
  padding-top: 45px; /* Header 높이만큼 */
  padding-bottom: 120px; /* Footer 높이만큼 */
}

/* PC 배경일 때 */
@media (min-width: 480px) {
  .main-content {
    flex: 1;
    padding-top: 45px; /* Header 높이만큼 */
    padding-bottom: 60px; /* Footer 높이만큼 */
  }
}
